/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .style {
    width: 100%;
    display: block;
  }
  .alignItems {
    width: 100%;
    padding: 1% 2% 1% 2%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .style {
    width: 100%;
    display: block;
  }
  .alignItems {
    width: 100%;
    padding: 1% 2% 1% 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .style {
    width: 100%;
    display: flex;
    position: inherit;
  }
  .alignItems {
    width: 50%;
    padding: 1% 2% 1% 2%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .style {
    width: 100%;
    display: flex;
    position: inherit;
  }
  .alignItems {
    width: 50%;
    padding: 1% 2% 1% 2%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .style {
    width: 100%;
    display: flex;
  }
  .alignItems {
    width: 50%;
    padding: 1% 2% 1% 2%;
  }
  .style1 {
    display: none;
  }
}
