/* @media only screen and (max-width: 600px) {
    .style{
         outline-style: solid;
    }
    
}

@media only screen and (min-width: 600px) {
    .style{

        outline-style: solid;
    }
    
}

@media only screen and (min-width: 768px) {
    .style{
       
        outline-style: solid;
    }
    
}

@media only screen and (min-width: 992px) {
    .style{
        
        outline-style: solid;
    }
    
}

@media only screen and (min-width: 1200px) {
    .style{
       
        outline-style: solid;
    }

} */