/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .AssetsDisplay{
        text-align: center;
        display: grid;
        grid: 130px / auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .AssetsDisplay{
        text-align: center;
        display: grid;
        grid: 130px / auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .AssetsDisplay{
        text-align: center;
        display: grid;
        grid: 130px / auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .AssetsDisplay{
        text-align: center;
        display: grid;
        grid: 150px / auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .AssetsDisplay{
        text-align: center;
        display: grid;
        grid: 150px / auto auto auto auto;
        grid-column-gap: 12px;
        grid-row-gap: 40px;
    }
}
